body {
    text-align: center;
    background-color: #F8F8F8;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 25%;
    display: inline-block;
    margin: 0 30.5% 0 30%;
    position: relative;
    margin-top: 4%;
    margin-bottom: 2%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: #f6f6f6;
    transition: 300ms;
    cursor: pointer;
}
.logo:hover{
    transform: rotate(6deg);
}
#cinta{
    display: block;
    position: absolute;
    text-align: center;
    right: auto;
    left: 50%;
    top: 14%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 3.5em;
    font-weight: bolder;
    margin: 2%;
}

.Input {
    text-align: left;
    margin-left: 15%;
    margin-top: 4%;
}

.Input p {
    font-size: 1.2em;
    margin-bottom: 1%;
}

.input {
    display: block;
    margin-bottom: 1.5%;
    padding-left: 1em;
    border-color: blue;
}

#textoATransformar {
    height: 50px;
    width: 80%;
    font-size: 1.1em;
    border-radius: 15px;
}

.botones {
    text-align: center;
    margin-right: 15%;
    padding-bottom: 5%;
    padding-top: 2%;
    scale: 1.6;
}
.botones p {
    display: inline;
    margin: 5%;
}

.enviar {
    background-color: lightblue;
    border-radius: 5px;
    transition: 100ms;
}
.enviar:hover{
    background-color: rgb(93, 196, 177);
}

.resultado {
    text-align: left;
    margin-right: 15.5%;
    background-color: white;
    height: auto;
    padding: 2.5%;
    border-radius: 15px;
    border: 2px solid darkblue;
    overflow: auto;

}

.resultado output {
    color: rgb(126, 126, 126);
    font-size: 1.25em;
    word-wrap: break-word;
    font-weight: bolder;
}

.copiar {
    display: block;
    text-align: right;
    margin-right: 25%;
    margin-top: 1%;
}

.copiar input {
    background-color: lightblue;
    display: inline;
    font-size: 1.3em;
    border-radius: 5px;
    border-width: 3px;
}
.botonCopiar:hover{
    background-color: rgb(93, 196, 177);
}
.footer {
    position: relative;
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    height: 100%;
    /* Ajusta la altura según tus necesidades */
    transition: 500ms;
    margin-top: 5%;
}
.footer:hover{
    translate: 0 -10px;
    scale: 1.1;
}

footer canvas {
    position: relative;
    margin-top: 2%;
    background-color: #F8F8F8;
}

footer p {
    position: absolute;
    top: 60%;
    /* Ajusta la posición vertical del texto según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    /* Color del texto */
    font-size: 0.9em;
    font-weight: bolder;
    /* Tamaño de fuente del texto */
    transition: 500ms;
}
@media screen and (max-width:1000px){ /*Si encuentra pagina menor igual a 800px*/
    #cinta{
        top: 30%;
    }
    header{
        margin-bottom: 10%;
    }
    body{
        padding-top: 25%;
        margin-top: 10%;
        scale: 1.6;

    }
    main{
        margin-top: 7%;
        scale: 1.1;
        font-size: 1.4em;
    }
    .Entrada{
        margin-bottom: 5%;
    }
    .enviar{
        font-size: 0.9em;
        margin-top: 5px;
    }
    .copiar input{
        font-size: 1.4em;
    }
    footer{
        margin-top: 20%;
        bottom: 0;
        text-align: bottom;
        font-size: 1.2em;
        scale: 1.3;
    }
}