body{
    text-align: center;
    background-color: #F8F8F8;
    padding-left: 15%;
    padding-right: 15%;
}
.logo{
    width: 25%;
    display: inline-block;
    margin: 0 30% 0 30%;
    position: relative;
    margin-top: 4%;
    margin-bottom: 2%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

h2{
    font-size: 3.5em;
    font-weight: bolder;
    margin: 2%;
}

.Input{
    text-align: left;
    margin-left: 15%;
    margin-top: 4%;
}
.Input p{
    font-size: 1.2em;
    margin-bottom: 1%;
}
.input{
    display: block;
    margin-bottom: 1.5%;
    padding-left: 1em;
    border-color: blue;
}
#textoATransformar{
    height: 50px;
    width: 80%;
    font-size: 1.1em;
    border-radius: 15px;
}

.botones{
    text-align: center;
    margin-right: 15%;
    padding-bottom: 5%;
    padding-top: 2%;
    scale: 1.6;
}
.botones p{
    display: inline;
    margin: 5%;
}
.enviar{
    background-color: lightblue;
    border-radius: 5px;
}

.resultado{
    text-align: left;
    margin-right: 17%;
    background-color: white;
    height: auto;
    padding: 2.5%;
    border-radius: 15px;
    border: 2px solid darkblue;
    overflow: auto;
    
}

.resultado output{
    color: rgb(107, 107, 107);
    font-size: 1.25em;
    word-wrap: break-word;
}

.copiar{
    display: block;
    text-align: right;
    margin-right: 25%;
    margin-top: 1%;
}
.copiar input{
    background-color: lightblue;
    display: inline;
    font-size: 1.3em;
}

footer p{
    margin-top: 7%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: orange;
}